---

import Button from "./Button.astro"
import Popover from "./Popover.astro"

const {Theme} = Astro.props

const nav = [
    {
        title: "Home",
        path: "/"
    },
    {
        title: "Case Study",
        path: "/casestudy"
    },
    {
        title: "Team",
        path: "/team"
    },
    {
        title: "About",
        path: "/about"
    }
]

---

<header data-theme={Theme}>
    <nav class="desktop">
        <a href={nav[0].path} class="heading-5">AskExperts</a>
        <ul role="list" class="active">
            {nav.map(link => {
                return <li><a href={link.path}>{link.title}</a></li>
            })}
        </ul>
        <Button popup="login" label="Login" variant="secondary"/>
    </nav>
    <nav class="mobile">
        <p class="heading-5">AskExperts</p>
        <ul role="list">
            {nav.map(link => {
                return <li><a href={link.path}>{link.title}</a></li>
            })}
            <li><Button popup="#login" label="Login" variant="secondary"/></li>
        </ul>
    </nav>
    <Popover />
</header>


<style>
    header {
        --clr-section-bg: oklch(from var(--clr-primary-03) calc(l + 0.02) c h);
        padding: var(--space-s);
        position: sticky;
        top: 0;
        z-index: 100;
    }

    nav.desktop {
        display: none;
    }

    nav {
        display: flex;
        place-self: stretch;
        align-items: flex-start;
        justify-content: space-between;

        p.heading-5 {
        line-height: 105%; /* 1.96875rem */
        }

        ul {
            display: none;
            a {
                text-decoration: none;
                transition: .15s ease-in;
                &:hover {
                    opacity: .75;
                }
            }
        }

        ul.active {
            display: block;
        }
    }

    @media (900px < width) {

        nav.mobile {
            display: none;
        }

        nav.desktop {
            display: flex;

            ul.active {
            display: flex;
            gap: clamp(1.5rem, 1.3696rem + 0.6522vw, 1.875rem);
        }
        }      

    }

</style>